* {
    box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
img,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.2;
    font-family: 'Righteous', cursive;
    background: white;
}

footer,
header,
nav,
section {
    display: block;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
}
